a{
	font-family: Arial;
	font-size: 22px;
}
h2{
	font-family: Arial; 
	font-size: 32px;
}
h4{
	font-family: Arial;
	font-size: 24px; 
	text-align: center;
	margin-right:60px;


}
h5{
	font-family: Arial;
	 font-size: 15px;
	 margin-left:60px;
	 display: flex;

	justify-content: center;

}
h6.highlight:hover {
	font-family: Arial; 
	font-size: 32px;
	color: #ff0000;
}
p{
	font-family: Arial;
	font-size: 20px;
	margin-right:60px;
		 display: flex;
}
a{
	font-family: Arial; 
	font-size: 32px;
}
p{
	font-family: 
	Arial; font-size: 20px;
}
h3{
	font-family: Arial; 
	font-size: 32px;
}
span{
	font-family: Arial; 
	font-size: 20px;
	margin-left: 200px;
}
footer{
	 background-color: green;
}
nav ul {
	list-style: none;
	display: flex;

	justify-content: center;
}
nav a{
	text-decoration: none;
	background: yellow;
	color: black;
	font-family: Arial;
	border-radius: 6px;
	padding: 3px;

	font-size: 20px;
}
li > ul{
	display: none;

}
li{
	margin-right: 50px;
}
li:hover > ul{
	display: block;
	position: absolute;

}
nav > ul > li > ul > li{
	margin-top: 10px;
}
nav img {display: none;}
@media(max-width: 800px){
	nav{
		position: absolute;
		top: 0px;
		left: 5px;
	}
	nav img {display: block;}
	nav ul {display: none;
		text-align: left;
		
	}
	nav:hover ul {display: block;}
	nav li {display: block;}
	#menu2 {display: none;}
#bnm:hover > #menu2 {display: block;}
#menu2 {left: 95px;
	top: 85px;
}
li{margin-top: 20px;}
}


